.img-logo{
    width: 5em;
}

.btn-nav{
    background-color: #EBFAF5;
    text-decoration: none;
    
}

.green-color{
    color : #296F56;
}

.img-banner{
    width: 100%;
    height: auto;
   
}

.img-black{
    width:100%;
    height: 90%;
}

.button-radius{
    border-radius: 20px;
}

.bg-sustainability{
    background-color: #EBFAF5;
}

.bg-orange{
    background-color: #FFF0ED;
}

.bg-image{
    background-color: #FAFAFA;
}

.custoverlay{
    position:absolute; 
    display:flex; 
    top: 0%; 
    left: 0; 
    width: 100%; 
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
.bgoverlay{
    position:absolute; 
    display:flex; 
    top: 0%; 
    left: 0; 
    width: 100%; 
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
}
.btn-meet-au{
    width: 250px;
}