.img-logo{
    width: 5em;
}

.btn-nav{
    background-color: #EBFAF5;
    text-decoration: none;
    
}

.green-color{
    color : #296F56;
}

.img-banner{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.button-radius{
    border-radius: 20px;
}